
# Node modules
node_modules/

# Production
dist/
build/

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Vite cache
.vite/

# Optional IDE config files
.vscode/
.idea/

# Dependency lock files (optional if using only npm or yarn)
package-lock.json
yarn.lock
